<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>country</th>
      <th>altitude</th>
      <th>species</th>
      <th>lat</th>
      <th>lng</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Guatemala</td>
      <td>190164.00</td>
      <td>Arabica</td>
      <td>15.7835</td>
      <td>-90.2308</td>
    </tr>
    <tr>
      <td>Nicaragua</td>
      <td>110000.00</td>
      <td>Arabica</td>
      <td>12.8654</td>
      <td>-85.2072</td>
    </tr>
    <tr>
      <td>Brazil</td>
      <td>11000.00</td>
      <td>Arabica</td>
      <td>-14.235</td>
      <td>-51.9253</td>
    </tr>
    <tr>
      <td>Myanmar</td>
      <td>4287.00</td>
      <td>Arabica</td>
      <td>21.9162</td>
      <td>95.956</td>
    </tr>
    <tr>
      <td>Colombia</td>
      <td>3850.00</td>
      <td>Arabica</td>
      <td>4.57087</td>
      <td>-74.2973</td>
    </tr>
    <tr>
      <td>Indonesia</td>
      <td>3500.00</td>
      <td>Arabica</td>
      <td>-0.789275</td>
      <td>113.921</td>
    </tr>
    <tr>
      <td>India</td>
      <td>3170.00</td>
      <td>Robusta</td>
      <td>20.5937</td>
      <td>78.9629</td>
    </tr>
    <tr>
      <td>United States</td>
      <td>3000.00</td>
      <td>Robusta</td>
      <td>37.0902</td>
      <td>-95.7129</td>
    </tr>
    <tr>
      <td>Malawi</td>
      <td>2500.00</td>
      <td>Arabica</td>
      <td>-13.2543</td>
      <td>34.3015</td>
    </tr>
    <tr>
      <td>Tanzania, United Republic Of</td>
      <td>2285.00</td>
      <td>Arabica</td>
      <td>-6.36903</td>
      <td>34.8888</td>
    </tr>
    <tr>
      <td>Ethiopia</td>
      <td>2075.00</td>
      <td>Arabica</td>
      <td>9.145</td>
      <td>40.4897</td>
    </tr>
    <tr>
      <td>Kenya</td>
      <td>2000.00</td>
      <td>Arabica</td>
      <td>-0.023559</td>
      <td>37.9062</td>
    </tr>
    <tr>
      <td>Uganda</td>
      <td>1950.00</td>
      <td>Arabica</td>
      <td>1.37333</td>
      <td>32.2903</td>
    </tr>
    <tr>
      <td>Costa Rica</td>
      <td>1900.00</td>
      <td>Arabica</td>
      <td>9.74892</td>
      <td>-83.7534</td>
    </tr>
    <tr>
      <td>Rwanda</td>
      <td>1900.00</td>
      <td>Arabica</td>
      <td>-1.94028</td>
      <td>29.8739</td>
    </tr>
    <tr>
      <td>Burundi</td>
      <td>1880.00</td>
      <td>Arabica</td>
      <td>-3.37306</td>
      <td>29.9189</td>
    </tr>
    <tr>
      <td>China</td>
      <td>1850.00</td>
      <td>Arabica</td>
      <td>35.8617</td>
      <td>104.195</td>
    </tr>
    <tr>
      <td>Mexico</td>
      <td>1800.00</td>
      <td>Arabica</td>
      <td>23.6345</td>
      <td>-102.553</td>
    </tr>
    <tr>
      <td>Papua New Guinea</td>
      <td>1700.00</td>
      <td>Arabica</td>
      <td>-6.31499</td>
      <td>143.956</td>
    </tr>
    <tr>
      <td>Panama</td>
      <td>1680.00</td>
      <td>Arabica</td>
      <td>8.53798</td>
      <td>-80.7821</td>
    </tr>
    <tr>
      <td>Honduras</td>
      <td>1650.00</td>
      <td>Arabica</td>
      <td>15.2</td>
      <td>-86.2419</td>
    </tr>
    <tr>
      <td>Philippines</td>
      <td>1600.00</td>
      <td>Arabica</td>
      <td>12.8797</td>
      <td>121.774</td>
    </tr>
    <tr>
      <td>Vietnam</td>
      <td>1550.00</td>
      <td>Arabica</td>
      <td>14.0583</td>
      <td>108.277</td>
    </tr>
    <tr>
      <td>El Salvador</td>
      <td>1500.00</td>
      <td>Arabica</td>
      <td>13.7942</td>
      <td>-88.8965</td>
    </tr>
    <tr>
      <td>Thailand</td>
      <td>1500.00</td>
      <td>Arabica</td>
      <td>15.87</td>
      <td>100.993</td>
    </tr>
    <tr>
      <td>Peru</td>
      <td>1400.00</td>
      <td>Arabica</td>
      <td>-9.18997</td>
      <td>-75.0152</td>
    </tr>
    <tr>
      <td>Laos</td>
      <td>1300.00</td>
      <td>Arabica</td>
      <td>19.8563</td>
      <td>102.495</td>
    </tr>
    <tr>
      <td>Taiwan</td>
      <td>1300.00</td>
      <td>Arabica</td>
      <td>23.6978</td>
      <td>120.961</td>
    </tr>
    <tr>
      <td>Haiti</td>
      <td>1280.16</td>
      <td>Arabica</td>
      <td>18.9712</td>
      <td>-72.2852</td>
    </tr>
    <tr>
      <td>Zambia</td>
      <td>1250.00</td>
      <td>Arabica</td>
      <td>-13.1339</td>
      <td>27.8493</td>
    </tr>
    <tr>
      <td>United States (Puerto Rico)</td>
      <td>853.44</td>
      <td>Arabica</td>
      <td>18.2208</td>
      <td>-66.5901</td>
    </tr>
    <tr>
      <td>Ecuador</td>
      <td>800.00</td>
      <td>Arabica</td>
      <td>-1.83124</td>
      <td>-78.1834</td>
    </tr>
    <tr>
      <td>United States (Hawaii)</td>
      <td>609.60</td>
      <td>Arabica</td>
      <td>19.8968</td>
      <td>-155.583</td>
    </tr>
    <tr>
      <td>Mauritius</td>
      <td>280.00</td>
      <td>Arabica</td>
      <td>-20.3484</td>
      <td>57.5522</td>
    </tr>
    <tr>
      <td>Cote d?Ivoire</td>
      <td>200.00</td>
      <td>Arabica</td>
      <td>7.53999</td>
      <td>-5.54708</td>
    </tr>
    <tr>
      <td>Japan</td>
      <td>170.00</td>
      <td>Arabica</td>
      <td>36.2048</td>
      <td>138.253</td>
    </tr>
  </tbody>
</table>